@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(170, 200, 255, 0.6);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  white-space: nowrap;
  font-family: Arial, sans-serif;
}

main {
  width: fit-content;
}

h1 {
  margin-bottom: 20px;
  padding-left: 1em;
  background-color: rgba(255, 246, 220, 0.7);
  font-size: 2.6rem;
  text-shadow: 0.2em 0.14em 0.06em rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
}

h1 img {
  height: 3.2rem;
  position: absolute;
  top: 50%;
  left: calc(min(100vw, 100%) - 5.6rem);
  border-radius: 50%;
  outline: 4px solid rgba(255, 246, 220, 0.7);
  transition: 0.2s;
}

h1 img:hover {
  transform: scale(1.15);
}

h2 {
  margin: 10px 0.4em 28px 0;
  font-size: 2rem;
  text-shadow: 0.1em 0.1em 0.08em rgba(0, 0, 0, 0.1);
  display: inline-block;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

header div {
  margin-left: 2.6rem;
}

.pText {
  font-size: 1.3rem;
}

.pDescription {
  font-size: 0.96rem;
  display: inline-block;
}

p.gray {
  color: gray;
}

section {
  margin-left: 22px;
  padding-bottom: 20px;
  padding-right: 22px;
}

.pSubH {
  display: inline-block;
  font-size: 1.1rem;
}

.labelInput {
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  height: 2.4rem;
}

.labelInput.spaceRight {
  margin-right: 1rem;
}

.labelInput.spaceBottom {
  margin-bottom: 1.2rem;
}

input[type="number"] {
  height: 2rem;
  width: 4rem;
  padding-left: 0.4em;
}

input[type="text"] {
  height: 2rem;
  width: 10rem;
  padding-left: 0.4em;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.labelInput:has(input[type="checkbox"]) {
  font-size: 0.96rem;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.labelInput:has(#selectLanding) {
  display: block;
}

select {
  height: 2rem;
  padding-left: 0.3em;
  padding-right: 0.2rem;
}

button {
  height: 2rem;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.pResult {
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
}

.pResult span {
  font-weight: normal;
}

#selectBaseKey option:nth-child(4) {
  color: #ff8045;
}

#selectBaseKey option:nth-child(16) {
  color: #1eb700;
}

#selectBaseKey option:nth-child(28) {
  color: #5d78ff;
}

.uneditable {
  opacity: 0.3;
  pointer-events: none;
}

.invisible {
  display: none;
}

.divScroll {
  overflow-x: scroll;
  position: relative;
  margin-top: 0.4rem;
  margin-bottom: 1.2rem;
  width: calc(100vw - 54px);
}

table {
  overflow-x: hidden;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #8c8c8c;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  width: 4em;
}

th:first-of-type {
  background-color: #ebebeb;
  width: 7.4em;
}

td {
  padding-left: 0.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:hover, td:focus {
  text-overflow: clip;
}

th label {
  align-content: center;
}

tr:first-of-type th:not(:first-of-type):not(.playing):not(.movedInd) {
  background-color: #ffffe0;
}

#table0 tr:nth-of-type(n+3):nth-of-type(-n+5) td,
#table1 tr:nth-of-type(n+3):nth-of-type(-n+6) td {
  background-color: #fefef7;
}

#table2 tr:nth-of-type(3) td {
  background-color: #f0ffff;
}

#table2 tr:nth-of-type(4) td {
  background-color: #fff2e9;
}

th.playing {
  background-color: #98fb98;
}

th.movedInd {
  background-color: #ffedc4;
}

td.wiringDisplay {
  background-color: #98fb98;
}

#divOverview {
  position: relative;
}

#divOverview canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#canvasOverviewSelect {
  opacity: 0.4;
}

#canvasWiring {
  width: 32px;
  height: 320px;
  outline: 2px solid #8f8f8f;
  border-radius: 6px;
  margin-right: 22px;
}

#divWiring {
  display: inline-block;
  vertical-align: top;
}

.pResult:has(.spanWiringResults) {
  margin-bottom: 2em;
}

.spanWiringResults span {
  cursor: pointer;
  transition: 0.15s;
  display: inline-block;
  margin-right: 0.5em;
}

.spanWiringResults span:hover {
  color: #5e5e5e;
}
